POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=notes
POSTGRES_PORT=5432

AUTHENTICATOR_PASSWORD=authenticator
AUTH_API_DB_PASSWORD=auth_api

PGRST_PORT=3000

JWT_SECRET=replace-this-with-a-random-string-of-32-chars-or-more
AUTH_API_PORT=4000

SWAGGER_PORT=8080
